<h2 class="content-subhead">Search</h2>

<form action="/search" method="get">
  <input name="query" value="<%= params[:query] %>"/>
  <button type="submit">Search</button>
</form>

<% if params[:query] %>
  <% if @results.empty? %>
    <p>Sorry, no matches were found.</p>
  <% else %>
    <h2 class="content-subhead">Results for '<%= params[:query]%>'</h2>

    <ul>
      <% @results.each do |result| %>
        <li><strong><%= result[:name] %></strong></li>
          <ul>
            <%
            text = File.read("data/chp#{result[:number]}.txt")
            paragraphs = paragraphs_matching(text, params[:query])
            %>
            <% paragraphs.each do |id, para| %> 
              <% sentences_matching(para, params[:query]).each do |l| %>
                <% url = "#{result[:number]}##{id}" %>
                <% highlighted = highlight(l, params[:query]) %>
                <li><a href="/chapters/<%= url %>"><%= highlighted %></a></li>
              <% end %>
            <% end %>
          </ul>
      <% end %>
    </ul>
  <% end %>
<% end %>