<h2>Add new game results:</h2>
<form action="/new_record" method="post">
  <div >
    <p><em>Did you win?</em></p>
    <label for="win_true">Yes</label>
    <input type="radio" id="win_true" name="win?" value="true">
    <label for="win_false">No</label>
    <input type="radio" id="win_false" name="win?" value="false">
  </div>
  <div>
    <p><em>Was your island healthy or blighted?</em></p>
    <label for="healthy">Healthy</label>
    <input type="radio" id="healthy" name="healthy_island?" value="true">
    <label for="blighted">Blighted</label>
    <input type="radio" id="blighted" name="healthy_island?" value="false">
  </div>
  <br>
  <div >
    <label for="score">Score: </label>
    <input type="text" name="score" id="score" >
  </div>
  <br>
  <div >
    <label for="adversary">Adversary: </label>
    <select type="" id="adversary" name="adversary">
      <% @adversaries.each do |adversary| %>
        <option value=<%= adversary %>><%= adversary %></option>
      <% end %>
    </select>
  </div>
  <br>
  <div>
    <label for="level">Level: </label>
    <select id="level" name="level">
    <% 7.times do |i| %>
      <option value=<%= i %>><%= i %></option>
    <% end %>
    </select>
  </div>
  <br>
  <div>
    <label for="date">Date Played (yyyy-mm-dd): </label>
    <input type="text" name="date" id="date" >
  </div>
  <br>
  <div>
    <% 6.times do |i| %>
    <label for="players">Player: </label>
    <select id="players" name=<%= "player#{i}" %>>
      <option value="empty">[empty]</option>
      <% @users.each do |player| %>
        <option value=<%= player %>><%= player %></option>
      <% end %>
    </select>
    <label for="spirits">Spirit: </label>
    <select id="spirits" name=<%= "spirit#{i}" %>>
      <% @spirits.each do |spirit| %>
      <option value=<%= spirit%>><%= spirit %></option>
      <% end %>
    </select>
    <br>
    <% end %>
  </div>
  <button type="submit">Submit Results</button>
</form>