<p><a href="/new">New File</a></p>
<ul>
  <% @files.each do |file| %>
    <li>
    <a href=<%= "/#{file}" %>><%= file %></a> ~ 
    <a href=<%= "/#{file}/edit" %>><%= "edit" %></a>
    <form action=<%= "/#{file}/destroy" %> method="post" class ="inline"><button type="submit">delete</button></form>
    </li>
  <% end %>
</ul>
